@import '../../mixins/mixins.sass'

// ((100vw — [min vw width]px) / ([max vw width] — [min vw width])) = ((100vw — 500px) / (1920–500)))

.main__wrapper
  display: flex
  padding: 10px 0 10px 0
  // max-height: 1200px
.description
  // width: 45%
  flex: 1 0 11em
  display: flex
  flex-direction: column
  &__info
    flex: 1 0 auto
    padding-top: calc(4px + ((80 - 4) * ((100vh - 900px) / (1200 - 900))))
    padding-right: calc(5px + ((68 - 5) * ((100vh - 800px) / (1200 - 800))))
    min-height: 41.5%
    border-bottom: 1px solid #C4C4C4
  &__text
    @include font-size-info
    display: inline-block
    font-style: normal
    margin: 0
    margin-bottom: calc(2px + ((29 - 2) * ((100vh - 800px) / (1200 - 800))))
    font-weight: 100
    line-height: 32px
    // width: 89%
    letter-spacing: 0.055em
    color: #000000

.image
  flex: 1 0 23em
  box-sizing: border-box
  height: calc(600px + ((1087 - 600) * ((100vh - 700px) / (1200 - 700))))
  max-height: 1087px
  background-image: url('../../img/img_bg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  border-radius: 18px
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  padding-left: 13.5%
  z-index: 0
  &__lamp
    height: 33%
    max-height: 360px
    width: auto

.product
  flex: 1 0 auto
  // height: 58%
  // height: 34.5vh
  display: flex
  justify-content: space-between
  &__box
    position: relative
    display: flex
    height: 100%
  &__image
    width: auto
    height: 100%
    max-height: 580px
    z-index: 50
    margin-left: -20px
    height: calc(250px + ((580 - 250) * ((100vh - 700px) / (1200 - 700))))

.product__box::before
  position: absolute
  content: ''
  // width: 452px
  // height: 452px
  width: calc(270px + ((452 - 250) * ((100vh - 700px) / (1200 - 700))))
  height: calc(270px + ((452 - 250) * ((100vh - 700px) / (1200 - 700))))
  border-radius: 50%
  background-color: #E4D7B9
  top: 25px
  left: -79px
  z-index: 0

.characteristics
  display: flex
  flex-direction: column
  justify-content: center
  box-sizing: border-box
  padding-left: 6px
  width: 57%
  z-index: 50
  height: 100%
  padding-bottom: calc(0px + ((135 - 0) * ((100vh - 700px) / (1200 - 700))))
  &__item
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: 21px
    // height: 100%
  &__span
    @include font-size-span-paragraph
    font-style: normal
    font-weight: 400
    // font-size: 16px
    line-height: 133.84%
    letter-spacing: 0.055em
    margin: 0
  &__paragraph
    @include font-size-span-paragraph
    margin: 0
    font-style: normal
    font-weight: 100
    // font-size: 16px
    line-height: 133.84%
    letter-spacing: 0.055em

.menu
  height: calc(100px + ((554 - 100) * ((100vh - 500px) / (1200 - 500))))
  max-height: 544px
  // width: 168px
  width: calc(50px + ((168 - 50) * ((100vh - 500px) / (1200 - 500))))
  max-width: 168px
  background-color: #BDDDDD
  border-radius: 14px 0px 0px 14px
  margin-top: 7%
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 50
.navbar
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 11%
  height: 100%
  &__item
    margin-bottom: 11%
    position: relative
    width: 100%
    height: calc(25px + ((133 - 25) * ((100vh - 500px) / (1200 - 500))))
    max-height: 133px
    flex: 1 0 auto
  // &__item::after
  //   content: ""
  //   display: block
  //   padding-bottom: 100%

  &__item:last-child
    margin-bottom: 0
  &__button
    // position: absolute
    width: 100%
    height: 100%
    min-height: 20px
    border-radius: 14px
    // width: 133px
    // height: 131px
    border: none
    background-image: url('../../img/lamp.png')
    background-repeat: no-repeat
    background-position: top
    // background-size: contain
    background-size: auto 89%
    background-color: inherit
    &:hover
      background-color: #CDE6E6

.switch
  width: 100%
  // height: 20%
  height: 72px
  &__button
    width: 50%
    height: 100%
  &__day
    background-color: #FFF3DA
    border-radius: 0px 0px 0px 14px
    background-image: url('../../img/sun.svg')
    background-repeat: no-repeat
    background-position: center center
    background-size: 50%
  &__night
    background-color: #94A6A6
    background-image: url('../../img/moon.svg')
    background-repeat: no-repeat
    background-position: center center
    background-size: 50%

@media (max-width: 1000px)
  .main__wrapper
    flex-direction: column
  .description
    &__info
      padding-right: 0
  .menu
    flex-direction: row-reverse
    width: 544px
    max-width: 544px
    max-height: 100px
    border-radius: 14px 14px 0px 0px
    margin-right: 14px
  .product
    align-items: end
    &__image
      height: 250px

  .characteristics
    padding: 0
  .navbar
    flex-direction: row
    width: 100%
    padding: 10px
    justify-content: space-between
    padding: 10px 10px 10px 0
    &__item
      height: 100%
      width: 30%
      margin-bottom: 0
      margin-left: 10px
    // &__item::after
    //   content: ""
    //   display: block
    //   padding-bottom: 0
    //   padding-top: 100%
    &__button
    // position: absolute
      width: 100%
      height: 100%
      min-height: 100%
      background-size: auto 100%

  .switch
    display: flex
    flex-direction: column
    height: 100%
    width: 50px
    &__button
      width: 100%
    &__day
      background-color: #FFF3DA
      border-radius: 14px 0px 0px 0px
@media (max-width: 700px)
  .product
    width: 100%
    flex-direction: column
    align-items: center
    &__box
      width: 100%
      // justify-content: space-between
  .product__box::before
    position: absolute
    content: ''
    width: 300px
    height: 300px
  .menu
    width: 95%
    max-width: 95%
    margin-right: 0
    box-sizing: border-box

@media (max-width: 400px)
  .menu
    max-height: 70px
  .navbar
    padding: 5px 5px 5px 0
    &__item
      margin-left: 5px
