@import '../../mixins/mixins.sass'

.main__wrapper
  display: flex
  padding: 10px 0 10px 0

.description
  flex: 1 1 11em
  display: flex
  flex-direction: column
  &__info
    flex: 2 2 31%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 3% calc(5px + ((68 - 5) * ((100vh - 800px) / (1200 - 800)))) 0 0
    border-bottom: 1px solid #C4C4C4
  &__text
    @include font-size-info
    display: inline-block
    font-style: normal
    margin: 0
    margin-bottom: calc(2px + ((29 - 2) * ((100vh - 800px) / (1200 - 800))))
    font-weight: 100
    line-height: 32px
    letter-spacing: 0.055em
    color: #000000

.product
  flex: 1 0 auto
  position: relative
  display: flex
  justify-content: space-between
  &__box
    position: relative
    display: flex
    height: 100%
    width: 72%

.image-product
  max-height: 580px
  z-index: 30
  flex: 0 0 150px
  margin-left: -20px
  height: calc(250px + ((580 - 250) * ((100vh - 700px) / (1200 - 700))))
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  &__active
    position: absolute
    height: 100%
    object-fit: cover
    object-position: top center

.product__box::before
  position: absolute
  content: ''
  width: calc(270px + (175 * ((100vh - 700px) / (1200 - 700))))
  height: calc(270px + (175 * ((100vh - 700px) / (1200 - 700))))
  border-radius: 50%
  background-color: #E4D7B9
  top: 25px
  left: -79px
  z-index: 0

.characteristics
  display: flex
  flex-direction: column
  box-sizing: border-box
  padding-left: 9px
  z-index: 60
  height: 100%
  flex: 0 3 60%
  padding-top: calc(0px + 159 * (100vh - 700px) / 500)
  @include font-size-span-paragraph
  &__item
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: 21px
  &__span
    font-style: normal
    font-weight: 400
    line-height: 133.84%
    letter-spacing: 0.055em
    margin: 0
  &__paragraph 
    margin: 0
    font-style: normal
    font-weight: 100
    line-height: 133.84%
    letter-spacing: 0.055em

.menu
  height: 90%
  max-height: 549px
  width: 30%
  max-width: 168px
  background-color: #BDDDDD
  border-radius: 14px 0px 0px 14px
  margin-top: 4vh
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 60
  position: absolute
  right: 0

@media (max-width: 1200px)
  .description
    &__info
      flex: 1 3 32%
    &__text
      font-size: 16px

  .main
    &__wrapper
      padding-top: 0

  .characteristics
    padding-top: 32%
    font-size: 11px

  .menu
    width:25%

@media (max-width: 1000px)
  .main__wrapper
    flex-direction: column
  .description
    flex: 1 1 auto
    &__info
      padding-right: 0
      flex: 1 3 auto
  .menu
    flex-direction: row-reverse
    border-radius: 14px 14px 0px 0px
    position: relative
    width: 80%
    height: 100px
    max-width: 80%
    margin-right: 0
    margin-top: 0
    position: relative
    margin-left: 10px

  .product
    flex-direction: column
    justify-content: start
    &__box
      margin-bottom: 20px
      width: 100%
      align-items: center
    &__image
      height: 250px

  .characteristics
    padding-top: 0
    justify-content: center

@media (max-width: 700px)
  .product
    width: 100%
    flex-direction: column
    align-items: center
    &__box
      width: 100%
      justify-content: space-between
    &__image
      max-width: 200px

  .product__box::before
    position: absolute
    content: ''
    width: 300px
    height: 300px

  .menu
    width: 95%
    height: 100px
    max-width: 95%
    margin: 0
    box-sizing: border-box
    position: relative

@media (max-width: 400px)
  .menu
    max-height: 70px